service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="MultiplicationService"
						 targetNamespace="http://www.example.org/multiplication/"
						 xmlns:tns="http://www.example.org/multiplication/"
						 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
						 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
						 xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/"
						 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
						 xmlns="http://schemas.xmlsoap.org/wsdl/">

		<types>
				<schema targetNamespace="http://www.example.org/multiplication/"
								xmlns="http://www.w3.org/2001/XMLSchema">
						<element name="multiplyRequest">
								<complexType>
										<sequence>
												<element name="x" type="xsd:float"/>
												<element name="y" type="xsd:float"/>
										</sequence>
								</complexType>
						</element>
						<element name="multiplyResponse">
								<complexType>
										<sequence>
												<element name="result" type="xsd:float"/>
										</sequence>
								</complexType>
						</element>
				</schema>
		</types>

		<message name="MultiplyInput">
				<part name="parameters" element="tns:multiplyRequest"/>
		</message>

		<message name="MultiplyOutput">
				<part name="parameters" element="tns:multiplyResponse"/>
		</message>

		<portType name="MultiplicationPortType">
				<operation name="multiply">
						<input message="tns:MultiplyInput"/>
						<output message="tns:MultiplyOutput"/>
				</operation>
		</portType>

		<binding name="MultiplicationBinding" type="tns:MultiplicationPortType">
				<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
				<operation name="multiply">
						<soap:operation soapAction="http://www.example.org/multiplication/multiply"/>
						<input>
								<soap:body use="literal"/>
						</input>
						<output>
								<soap:body use="literal"/>
						</output>
				</operation>
		</binding>

		<service name="MultiplicationService">
				<port name="MultiplicationPort" binding="tns:MultiplicationBinding">
						<soap:address location="http://localhost:3000/multiply"/>
				</port>
		</service>
</definitions>
